*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #08296d, #21ded8);
    padding: 10px;
}
.todoapp{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todoapp img{
    width: 30px;
    margin-left: 10px;
}
.todoapp h2{
    color: #003765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dde5c0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}   
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    background: #d14242;
    padding: 16px 50px;
    font: 15px;
    cursor: pointer;
    border-radius: 35px;

}
ul li{
    list-style: none;
    font-size: 19px;
    padding: 13px 9px 13px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.chad{
    color: #555;
    text-decoration: line-through;

}
ul li.chad::before{
    background-image: url(checked.png);
 }

 ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    height: 40px;
 }
 ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
 }

 